.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-img {
  margin-top: 15px;
  margin-bottom: 54px;
  width: 220px;
  height: 237px;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 32px; 
  justify-content: space-between;
  margin: 0 18px 26px 21px;
}