.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 29px;
  background-color: #fff;
  border-radius: 30px 30px 0 0;
}

.vk-icon {
  width: 30px;
  height: 30px;
}

.tg-icon, .whatsapp-icon {
  width: 30px;
  height: 30px;
}

.footer-list {
  margin: 0;
  padding: 0;
  columns: 2 auto;
  list-style: none;
}

.footer-list-item {
  margin-bottom: 10px;
}

.footer-link {
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  color: #000000;
  text-decoration: none;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 18px;
  list-style: none;
}

.lang-icon {
  width: 20px;
  height: 20px;
}

.lang-list {
  margin: 35px 0 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 17px;
  list-style: none;
}

.lang-link {
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #101010;
  text-decoration: none;
}