.total-sum {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  width: 349px;
  height: 65px;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
}

.total-wrapper {
  margin: 21px 16px 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-text {
  margin: 0;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  color: #000000;
}

.btn-total {
  padding: 22px 14px;
  border-radius: 20px;
  background-color: #101010;
  cursor: pointer;
}

.total-color {
  color:#fff;
  font-size: 17px;
}

@media (min-width: 992px) {
  .btn-total:hover {
    background-color: #FFA542;
    border: 1px solid #FFA542;
    transition: 0.5s;
  }
}