.favorites-icon {
  width: 23px;
  height: 20px;
  fill: #838383;
}

.basket-icon {
  width: 24px;
  height: 25px;
  fill: #838383;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 15px 0;
  list-style: none;
}

.header-link-group {
  display: flex;
  align-items: center;
  gap: 25px;
}

.fulcrum {
  position: relative;
}

.quantity-wrapper {
  position: absolute;
  top: -6px;
  left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #FFA542;
}

.quantity {
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
}

@media (min-width: 992px) {
  .fulcrum:hover {
    transform: translateY(-5px);
    fill: #FFA542;
  }
}